h3 {
  margin-top: 8px;
}

#holidays-btns {
  margin-bottom: 20px;
  .holiday-btn {
    margin: 20px 15px 10px 15px;
  }
}

#holidays-info .container {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  .holiday row {
    margin: 25px 0px 0px 0px;
  }
  .holiday .holiday-text {
    margin: auto 0 auto 0;
  }
}

.card-body{
  padding: 2px;
  .single-holiday-btn {
    display: flex;
    justify-content: center;
    margin: 3px;
  }
}

#holidays-guests {
  .holiday-guest-names {
    // display: flex;
    // flex-flow: column wrap;
    // justify-content: center;
    li {
      padding: 3px;
      margin: 0;
    }
  }
}